<div class="general">
    <div class="content">
        <div class="left">
            <div class="left__title">
                <h1>WatchAI</h1>
                <h2>Mejora videos</h2>
            </div>
            <div class="letf__text">
                <p>¡Descubre el poder de WatchAI! La aplicación revolucionaria que convierte tus videos en gemas brillantes. Simplemente sube un video de menos de 5 minutos y prepárate para ser sorprendido. WatchAI genera un resumen conciso y cautivador, una transcripción precisa, detecta áreas de mejora y te brinda una calificación deslumbrante.</p>
                <button routerLink="/login-register" >START NOW!</button>
            </div>
            <div class="left__me">
                <p>Develop by Felipe Gallego</p>
            </div>
        </div>
        <div class="right">
            <img src="../../../assets/person.svg" alt="persona frente al video">
        </div>
    </div>
    <div class="waves">
        <img src="../../../assets/wave1.svg" alt="">
        <img src="../../../assets/wave2.svg" alt="">
        <img src="../../../assets/wave3.svg" alt="">
    </div>

</div>