<div class="content">
    <h1 id="tit"></h1>
    <div class="inputs">

        <div class="input">
            <input id="email" placeholder="Correo" type="text">
        </div>
        <div class="input">
            <input id="password" placeholder="Contraseña (Dejar vacio para mantener actual)" type="password">
            <button (click)="edit()"></button>
        </div>





    </div>
</div>
<div class="waves">
    <img src="../../../assets/wavec1.svg" alt="">
    <img src="../../../assets/wavec2.svg" alt="">
    <img src="../../../assets/wavec3.svg" alt="">
</div>